<div class="conntainer-fluid d-flex justify-content-center">


  <form class="d-flex flex-column" *ngIf="!isNext" [formGroup]="registerForm">
    <input type="file" (change)="uploadFile($event)">
    <img [src]="userImage" style="width: 200px;" alt="">
    <button class="btn btn-danger" (click)="deleteImage()" *ngIf="isUpload">Delete</button>
    <br>

    <label for="firstName">First Name</label>
    <input type="text" formControlName="firstName" [class.invalidForm]="validateField('firstName')" class="form-control"
      placeholder="First Name" aria-label="firstName">

    <label for="lastName">Last Name</label>
    <input type="text" formControlName="lastName" [class.invalidForm]="validateField('lastName')" class="form-control"
      placeholder="Last Name" aria-label="lastName">

    <label for="userName">User Name</label>
    <input type="text" formControlName="userName" [class.invalidForm]="validateField('userName')" class="form-control"
      placeholder="User Name" aria-label="userName">

    <label for="phone">Phone</label>
    <input type="text" formControlName="phone" [class.invalidForm]="validateField('phone')" class="form-control"
      placeholder="Phone" aria-label="phone">

    <label for="email">Email</label>
    <input type="email" formControlName="email" [class.invalidForm]="validateField('email')" class="form-control"
      placeholder="Email" aria-label="email">

    <label for="password">Password</label>
    <input type="password" formControlName="password" [class.invalidForm]="validateField('password')"
      class="form-control mr-2" placeholder="Password..." aria-label="password">
    <button class="btn btn-primary mt-2" (click)="isNext = true" >Next</button>
  </form>

  <div class="d-flex flex-column">
    <form *ngIf="isNext" class="form-group" [formGroup]="addressForm">
      <select formControlName="addressType">
        <option value="">Addresse Type</option>
        <option value="Home">Home</option>
        <option value="Billing">Billing</option>
        <option value="Shipment">Shipment</option>
      </select>

      <hr>
      <input type="text" formControlName="address" class="form-control mb-2" placeholder="Address" aria-label="address">

      <hr>
      <input type="text" formControlName="city" class="form-control mb-2" placeholder="City" aria-label="city">

      <select formControlName="country">
        <option value="">Choose your Country</option>
        <option [value]="country" *ngFor="let country of countries">{{country}}</option>
      </select>

      <hr>
      <input formControlName="postalCode" type="text" class="form-control mt-2" placeholder="Postal Code..."
        aria-label="city">

      <div class="mt-2">

        <br>
      </div>
      <div>

        <div *ngFor="let addressArray of addressArray.controls;index as i"
          style="display: flex;flex-direction: column; margin-top: 20px;">
          <hr>
          <h1>Add New Address</h1>
          <ng-container [formGroup]="addressArray">

            <select formControlName="addressType" class="mb-3" style="border-bottom: 1px solid green;">
              <option value="">Addresse Type</option>
              <option value="Home">Home</option>
              <option value="Billing">Billing</option>
              <option value="Shipment">Shipment</option>
            </select>

            <label>Address</label>
            <input formControlName="address" type="text" class="form-control mt-2" placeholder="Address..."
              aria-label="address" />

            <label>City</label>
            <input formControlName="city" type="text" class="form-control mt-2" placeholder="City..."
              aria-label="city" />
            <hr>

            <select formControlName="country" style="border-bottom: 1px solid green;">
              <option value="">Choose your Country</option>
              <option [value]="country" *ngFor="let country of countries">{{country}}</option>
            </select>
            <hr>


            <label>Postal Code</label>
            <input formControlName="postalCode" type="text" class="form-control mt-2" placeholder="Postal Code..."
              aria-label="country" />
          </ng-container>
          <button class="btn btn-warning mt-2" (click)="deleteAddress(i)">Delete Address</button>
        </div>
        <hr>

      </div>

      <button class="btn btn-danger mb-2 mt-2" (click)="addAddress()">+ Add Address</button>
      <br>
      <button class="btn btn-warning mr-2" (click)="isNext = false">Prev</button>
      <button class="btn btn-success" (click)="registration()">Next</button>
    </form>

  </div>
</div>
