<div class="container-fluid mt-5" style="height: 80vh;">
    <div class="row">
      <div class="col-2">
        <div class="nav flex-column nav-pills">
          <a class="nav-link"  [routerLink]="[ 'user-profile' ]" routerLinkActive="active">Profile</a>
          <a class="nav-link" [routerLink]="[ 'user-info' ]" routerLinkActive="active">User Info</a>
          <a class="nav-link" [routerLink]="[ 'main-page' ]" routerLinkActive="active">Main Page</a>
          <a class="nav-link" [routerLink]="[ 'main' ]" routerLinkActive="active">Main</a>
        </div>
      </div>
      <div class="col-10">
        <div class="tab-content">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div> 